<h2 class="text-center">Restaurant</h2>

<nav class="nav nav-pills nav-fill">
  <a class="nav-link" aria-current="page" routerLink="">Add Restaurant</a>
  <!-- <a class="nav-link">Update Restaurant</a> -->
  <a class="nav-link" routerLink="list-res">List Restaurant</a>
  <a class="nav-link" routerLink="login">Login</a>
  <a class="nav-link" routerLink="register">Register</a>
  <a class="nav-link" routerLink="parent">Parent</a>
  <a class="nav-link" routerLink="child">Child</a>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
